---
layout: single
---

{{ content}}

<h2>Principal Investigators</h2>
{% for member in site.data.pis %}
{% if member.pic %}
<img src="/images/team/{{ member.pic }}.jpg" style="width: 50%;" alt="{{member.name}} pic">
{% endif %}
{% if member.webpage %}
<h3><em><a href="{{ member.webpage }}">{{ member.name }}</a></em></h3>
{% else %}
<h3>{{ member.name }}</h3>
{% endif %}
<p>{{ member.position }}</p>
<p>{{ member.keywords }}</p>
<p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
{% endfor %}

<h2>Contributors</h2>
{% assign team = site.data.contributors | sort: "name"%}
{% for member in team %}
{% if member.pic %}
<img src="/images/team/{{ member.pic }}.jpg" style="width: 50%;" alt="{{member.name}} pic">
{% endif %}
{% if member.webpage %}
<h3><em><a href="{{ member.webpage }}">{{ member.name }}</a></em></h3>
{% else %}
<h3>{{ member.name }}</h3>
{% endif %}
<p>{{ member.position }}</p>
<p>{{ member.keywords }}</p>
<p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
{% endfor %}

<h2>Students</h2>
{% assign team = site.data.students | sort: "name"%}
{% for member in team %}
{% if member.pic %}
<img src="/images/team/{{ member.pic }}.jpg" style="width: 50%;" alt="{{member.name}} pic">
{% endif %}
{% if member.webpage %}
<h3><em><a href="{{ member.webpage }}">{{ member.name }}</a></em></h3>
{% else %}
<h3>{{ member.name }}</h3>
{% endif %}
<p>{{ member.position }}</p>
<p>{{ member.keywords }}</p>
<p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
{% endfor %}

<h2>Rotating Students</h2>
{% assign team = site.data.rotating-students | sort: "name"%}
{% for member in team %}
{% if member.webpage %}
<h3><em><a href="{{ member.webpage }}">{{ member.name }}</a></em></h3>
{% else %}
<h3>{{ member.name }}</h3>
{% endif %}
<p>{{ member.position }}</p>
<p>{{ member.keywords }}</p>
<p><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
{% endfor %}